.row
  %h1.gallery
    Kembujeh Lower Basic School

.row
  = markdown :'gallery/kembujeh'

.row
  %img{src: "images/kembujeh-before.jpg"}
  %p.caption= markdown :'gallery/kembujeh-before'

.row
  %img{src: "images/kembujeh-after.jpg"}
  %p.caption= markdown :'gallery/kembujeh-after'

.row
  %img{src: "images/kembujeh-classroom-full.jpg"}
  %p.caption= markdown :'gallery/kembujeh-classroom-full'
