.row
  %h1.gallery
    Omar's Kitchen

.row
  = markdown :'gallery/omars'

.row
  %img{src: "images/omars-climbing.jpg"}
  %p.caption= markdown :'gallery/omars-climbing'

.row
  %img{src: "images/omars-inside.jpg"}
  %p.caption= markdown :'gallery/omars-inside'

.row
  %img{src: "images/omars-smiling.jpg"}
  %p.caption= markdown :'gallery/omars-smiling'
