.container-fluid
  .row
    %p copyleft 2012 dylan fitzgerald
    %p 
      creative commons notice & 
      %a{:href => "#"} link
    %p
      %a{:href => "#"} fork this site on github
    %p
      %a{:href => "#"} colophon