#logo
  %a{:href => "#", :style => "color: orange; shadow: green 1em 1em;"}
    %img{:src => "images/logo.png"}
.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"} GamLight
      -# .btn-group.pull-right
      -#   %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      -#     %i.icon-user
      -#     Username
      -#     %span.caret
      -#   %ul.dropdown-menu
      -#     %li
      -#       %a{:href => "#"} Profile
      -#     %li.divider
      -#     %li
      -#       %a{:href => "#"} Sign Out
      .nav-collapse
        %ul.nav.pull-left
          %li#why
            %a{:href => "/why"} Why Bottle Bulbs?
          %li#howto
            %a{:href => "http://www.scribd.com/doc/124125340/How-to-build-a-Solar-Bottle-Bulb-originally-produced-by-MyShelter-Foundation"} How To
            //%a{:href => "http://www.instructables.com/id/How-to-build-a-SOLAR-BOTTLE-BULB/"} How To
          / %li
          /   %a{:href => "#"} Science
        %ul.nav.pull-right
          %li#gallery
            %a{:href => "/gallery"} On Location
          %li#about
            %a{:href => "/about"} About Us
          %li#inspiration
            %a{:href => "http://www.aliteroflight.org/"} Inspiration
      / /.nav-collapse
