.gallery-image
  .text-overlay
    %h1 On&nbsp;Location 
    %h2 GamLight Installations across The&nbsp;Gambia
  %img{:src => '/images/sunburst.jpg', :alt => 'Chief Carpenter Pa Demba silhouetted by a sunburst', :width => "100%"}
.container
  .row
    .span4.offset1
      = haml :'gallery/kembujeh'
    .span4.offset2
      = haml :'gallery/omars'