!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Bootstrap, from Twitter
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}

    = haml :_style_header

  %body

    %div= yield

    %div= haml :_javascripts