.container-fluid
  .row
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / %a.brand{:href => "#"} Project name
          / .btn-group.pull-right
          /   %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          /     %i.icon-user
          /     Username
          /     %span.caret
          /   %ul.dropdown-menu
          /     %li
          /       %a{:href => "#"} Profile
          /     %li.divider
          /     %li
          /       %a{:href => "#"} Sign Out
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Why Bottle Bulbs?
              %li
                %a{:href => "#"} How To
              %li
                %a{:href => "#"} Fizziks!
              %li
                %a{:href => "#"} On The Ground
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "#"} Inspiration
          / /.nav-collapse
  .row
    .span3
      %p &nbsp;
    .span8
      .hero-unit
        %img.pull-right{:src => "/images/main_bulb.jpeg", :width => "200px"}
        %h1 Safe.
        %h1 Clean.
        %h1 Cheap.
        %h1 Local.
        %h1#light Light.
        %br
        %p
          Lorem ipsum labore veniam sunt magna ad enim laborum ea enim ex officia dolor consequat do mollit in ut cillum esse nisi tempor Duis nostrud consequat ad sed qui minim cillum ex quis adipisicing eiusmod adipisicing veniam ex sint voluptate enim proident ad et veniam veniam magna enim officia dolore officia exercitation irure dolore sint esse ad culpa proident sit ut do adipisicing voluptate ut ea ex laborum deserunt sit sint in dolor aute ex et incididunt ut in anim fugiat aliqua ut labore reprehenderit sint tempor magna sint sint aute magna tempor amet nulla in in sint nostrud ad laborum cillum sit dolor officia in amet eu eiusmod aliquip do eu irure sint consectetur eiusmod culpa officia proident occaecat qui aute ullamco dolore cillum aute labore laboris anim dolore pariatur. 
