/* line 8, ../../sass/user.sass */
footer {
  text-align: center;
  background-color: lightgrey;
  margin-top: 5em;
  padding: 2em 0 2em;
}

/* line 16, ../../sass/user.sass */
h1.safe {
  color: red;
}
/* line 18, ../../sass/user.sass */
h1.clean {
  color: green;
}
/* line 20, ../../sass/user.sass */
h1.cheap {
  color: grey;
}
/* line 22, ../../sass/user.sass */
h1.local {
  color: blue;
}
/* line 24, ../../sass/user.sass */
h1.light {
  color: yellow;
  text-shadow: black 0.05em 0.05em 0.1em;
  line-height: 60px;
}

/* line 32, ../../sass/user.sass */
.hero-unit h1, a {
  color: black;
  text-decoration: none;
}
/* line 35, ../../sass/user.sass */
.hero-unit h1 .light, a .light {
  color: white;
  text-shadow: black 0em 0em 0.7em;
}
/* line 38, ../../sass/user.sass */
.hero-unit h1:hover, a:hover {
  text-decoration: none;
}
/* line 40, ../../sass/user.sass */
.hero-unit h1:hover.safe, a:hover.safe {
  color: red;
}
/* line 42, ../../sass/user.sass */
.hero-unit h1:hover.clean, a:hover.clean {
  color: green;
}
/* line 44, ../../sass/user.sass */
.hero-unit h1:hover.cheap, a:hover.cheap {
  color: grey;
}
/* line 46, ../../sass/user.sass */
.hero-unit h1:hover.local, a:hover.local {
  color: blue;
}
/* line 48, ../../sass/user.sass */
.hero-unit h1:hover.light, a:hover.light {
  color: yellow;
  text-shadow: yellow 0em 0em 0.7em;
}

/* line 52, ../../sass/user.sass */
#hero-image {
  max-width: 40%;
  max-height: 300px;
  clear: both;
}

/* line 58, ../../sass/user.sass */
.summary img {
  width: 33%;
  max-width: 160px;
}
/* line 61, ../../sass/user.sass */
.summary img.pull-left {
  margin-right: 1em;
}
/* line 63, ../../sass/user.sass */
.summary img.pull-right {
  margin-left: 1em;
}

/* line 66, ../../sass/user.sass */
#main-logo {
  position: absolute;
  width: 100%;
  z-index: 8;
  top: 69px;
}

/* line 72, ../../sass/user.sass */
#logo {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -55px;
  width: 110px;
  text-align: center;
  z-index: 1040;
}

/* line 81, ../../sass/user.sass */
.navbar-fixed-top .navbar-inner {
  padding-left: 3em;
  padding-right: 3em;
}

/* line 85, ../../sass/user.sass */
.gallery-image {
  margin: 0px 0px 30px 0px;
}

/* line 88, ../../sass/user.sass */
.text-overlay {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.5em;
  width: 50%;
}
/* line 95, ../../sass/user.sass */
.text-overlay h1 {
  color: white;
  font-size: 60px;
  line-height: 60px;
}
/* line 99, ../../sass/user.sass */
.text-overlay h1 {
  color: white;
}

/* line 102, ../../sass/user.sass */
.about-summary h1, h2 {
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}

/* line 106, ../../sass/user.sass */
.sponsors p {
  text-align: center;
  font-size: smaller;
}
